<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel = "stylesheet" th:href = "@{/styles/stylesheet1.css}" >
<script type = "text/javascript" th:src = "@{/styles/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
<meta charset="utf-8" />
<title>Edit Order</title>
	<style>
	.centerDiv{
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin-top: 10%;
    width: 27%;
    padding: 25px;
    }
  body {
  height : auto;
  background-color:lightgray ;
  }
  .saveButton {
  width:100%;
  margin-top: 20px;
  }
  .selectNew {
  width:100%;
  border: solid 2px lightgray;
    padding: 5px;
    border-radius: 5px;
  }
</style>
</head>

<body>
<header th:insert="/navbarFragment :: navbar"></header>
	<div align="center" class = "container text-center centerDiv">
		<h1>Edit Order</h1>
		<br />
		<form action="POST" th:action="@{'/edit/' + ${order.id}}" th:object="${order}"
			method="post">

			<table border="0" cellpadding="10" class="thead-dark">
				<tr>				
					<td  sec:authorize = "hasAuthority('ADMIN')"  >Order ID:</td>
					<td  sec:authorize = "hasAuthority('ADMIN')"  >
						<input type="text" class="form-control" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>	
				<tr>				
					<td>Customer Name:</td>
					<td>
						<input type="text" class="form-control" th:field="*{customer}" />
					</td>
				</tr>		
				<tr>				
					<td>Order Name:</td>
					<td>
						<input type="text" class="form-control" th:field="*{listName}" disabled/>
					</td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input type="text" class="form-control" th:field="*{user_address}" /></td>
				</tr>
				<tr>				
					<td>Phone Number:</td>
					<td>
						<input type="text" class="form-control" th:field="*{user_number}" />
					</td>
				</tr>
				<tr>
					<td>Quantity:</td>
					<td><input type="text" class="form-control" th:field="*{quantity}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button class = "btn btn-secondary saveButton" type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>