<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/your-embed-code.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel = "stylesheet" th:href = "@{/styles/stylesheet1.css}" >
<script type = "text/javascript" th:src = "@{/styles/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/zcss/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
     .centerDiv {
  width: 30%;
  height: 50%;
  background: white;
  border : solid 2px lightblue ;
  border-radius : 8px ;
  padding :50px;
  margin-top : 5%;
  }
  body {
  height : auto;
  background-color:lightgray ;
  }
  .saveButton {
  width:100%;
  margin-top: 20px;
  }
  .selectNew {
  width:100%;
  border: solid 2px lightgray;
    padding: 5px;
    border-radius: 5px;
  }
  table {
  margin-top:20px;
  width:100%;
  }
.divNav{
 padding:0;
}
.nav_logo{
background-color:black;
padding:25px;
border-bottom:1px solid lightgrey;
}
  </style>
</head>
<body>
<div th:insert="/navbarFragment :: navbar"></div>
<main>
  <div class="container text-center centerDiv">
    <h1>You can make requests for new products here</h1>
    <p style = "color:red;" th:if = "${messageError}" th:text = "${messageError}"></p>
    <p id = "message"></p>
    <br />
    <form id="myform" th:action="@{/process-product-register}"
          method="post" th:object = "${productRequests}">
      <div th:id = "formHidden">
        <label>Product:</label>
        <input  class="form-control" type="text" th:field = "*{product}" required placeholder="Enter new product..."/>
      </div>
      <button class = "btn btn-secondary saveButton" id = "submit" type="submit">Save</button>
    </form>
    <form  th:action = "@{/registerCategory}" th:object = "${listProductsRequested}">
      <button th:onclick = "category()"    class = "btn btn-secondary saveButton" type="button" th:id = "button" >Show requested products</button>
    </form>
    <div th:id = "divHidden"  style ="display:none;">
      <table border="1" cellpadding="10" class="table">
        <thead class="thead-light">
        <tr scope = "row" >
          <th scope ="col"  >Product List</th>
          <th scope ="col"  >Actions</th>
          <th scope ="col"  >Status</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each = "products : ${listProductsRequested}">
          <td th:text = "${products.product}" th:value = "${products.product}">Product List <\td>
            <td>
        <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
          <a sec:authorize="hasAnyAuthority('USER','ADMIN')"
             th:href="@{'/delete-requested-product/' + ${products.productId}}"><i style = "color:red;" class="fas fa-times"></i></a>
        </div>
          </td>
          <td style = "font-weight:bolder" th:text = "${products.status}">Status<\td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<script>
  function category(){
   var div = document.getElementById("divHidden");
   var button = document.getElementById("button");
   if(div.style.display === "none"){
   div.style.display = "block";
   button.setAttribute("style" ,"background-color:red;");
   }else
   {
    div.style.display = "none"
    button.setAttribute("style" ,"background-color:gray;");
   }
   }


</script>
      </script>
<script>
</script>
</body>
</html>