<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
  <meta charset="utf-8"/>
  <title>Product Manager</title>
  <style>
		body {
		background-color : lightgray;
		}
		.centerDiv {
  width: 40%;
 background: white;
  border : solid 2px lighblue ;
  border-radius : 8px ;
  padding :50px;
  }
		header{
		heigh : 20%;
		}
		main {
		heigh : 80%;
		}
		.topTitle {
		font-weight:bolder;
		}
	</style>
</head>
<body>
<dialog>
  <div align="center" class = "container text-center centerDiv">
    <h1>Edit Details</h1>
    <br />
    <form action="POST" th:action="@{'/edit/' + ${user.userId}}" th:object="${user}"
          method="post">

      <table border="0" cellpadding="10" class="thead-dark">
        <tr>
          <td  sec:authorize = "hasAuthority('ADMIN')"  >Order ID:</td>
          <td  sec:authorize = "hasAuthority('ADMIN')"  >
            <input type="text" class="form-control" th:field="*{userId}" readonly="readonly" />
          </td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td>
            <input type="text" class="form-control" th:field="*{first_name}" />
          </td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td>
            <input type="text" class="form-control" th:field="*{last_name}" disabled/>
          </td>
        </tr>
        <tr>
          <td>Address:</td>
          <td><input type="text" class="form-control" th:field="*{user_address}" /></td>
        </tr>
        <tr>
          <td>Phone Number:</td>
          <td>
            <input type="text" class="form-control" th:field="*{user_number}" />
          </td>
        </tr>
        <tr>
          <td colspan="2"><button class = "btn btn-secondary saveButton" type="submit">Save</button> </td>
        </tr>
      </table>
    </form>
  </div>
</dialog>
</body>
</html>